.person-name {
  font-weight: bold;
  color: darkcyan;
}
.person-email,
.person-phone {
  font-size: 0.9rem;
}

.person-image-ctn,
.person-details-ctn {
  float: left;
  margin-right: 10px;
}

.person-image-ctn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
